dev.main{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    background-color: rgba(160, 181, 192, 0.362);
    align-items: center;
    justify-content: center;
    padding: 10px;
}

dev.block{
    display: flex;
    flex-direction: column;
}

img{
    max-width: 100%;
}

a{
    font-size: larger;
}